.border-box {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 5px 10px;
}

.border-nav {
  border: 1px;
  border-style: hidden;
  padding: 1em;
}

.border-footer {
  border: 1px;
  border-style: hidden;
  padding: 1em;
  
}

.gradient-custom {
  background: #e6e9f0;
  background: -webkit-linear-gradient(
    to right,
    rgba(230, 233, 240, 1),
    rgba(238, 241, 245, 1)
  );
  background: linear-gradient(
    to right,
    rgba(230, 233, 240, 1),
    rgba(238, 241, 245, 1)
  );
  position: initial;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vw;
}
